.col-12, .col-10, .col-sm-12, .col-lg-6 {
    margin: 0 auto;
    text-align: center;
}
.btn-primary {
    margin: 5px;
}
.results-figure {
    display: inline-table;
}
.results-image {
    border: 5px solid #000000;
}