body {
    background: url("../images/zebra.png");
    background-repeat: repeat;
}
.col-12, .col-10, .col-sm-12, .col-lg-6 {
    margin: 0 auto;
    text-align: center;
}
h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 60px;
    animation: headerAnimation 4s linear infinite;
}
.btn-primary {
    margin: 5px;
}
.results-figure {
    display: inline-table;
}
.results-image {
    border: 4px solid #BBD4D4;
    animation: borderAnimation 4s linear infinite;
}
/*Animations*/
@keyframes headerAnimation {
    0% {color: #0059FF;}
    50% {color: #00B600;}
    100% {color: #0059FF;}
}
@keyframes borderAnimation {
    0% {border-color: #0059FF;}
    50% {border-color: #00B600;}
    100% {border-color: #0059FF;}
}